body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid gray;
    text-align: center;
    background-image: url(image/head_fire.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(245, 245, 245, 0.4);
    position: relative;
}
.menu h1{
    font-size: 30px;
    font-weight: 500;
    color: #DD4132;
    order: -1;
    margin: 0;
    padding: 15px;
}
.cara{
    position: absolute;
    border: 2px solid white;
    width: 100px;
    top: 100px;
}
}
.menu_polozky{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}
.menu_polozky ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}
.menu_polozky li{
    display: flex;
    padding: 5px;
}
.menu_polozky a{
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid #DD4132;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    background-color: #DD4132;
    opacity: 90%;
    box-shadow: 1px 1px 1px 1px gray;
}
.submenu{
    display: none;
}
.znak img{
    border: 1.5px solid white;
    border-radius: 50%;
    width: 115px;
}